.sticky {
  background-color: #304F47;
  display: flex;
  padding: 10px 50px;
  justify-content: space-between;
}

.sticky__contacts{
  display: flex;
  align-items: center;
  color: #fff;
  gap: 10px;
}

.sticky__social {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 5px;
}

.sticky__social i {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 4px 5px;
  border: #fff 2px solid;
}
