.sticky__main {
  background: #304F47;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.3% 15%;
  align-items: center;
  max-width: 100%;
}

.sticky__contacts {
  display: flex;
  gap: 10px;
  max-width: fit-content;
}

.sticky__social {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: fit-content;
}

.sticky__social i {
  border: #fff 2px solid;
  padding: 6%;
  border-radius: 50%;
}

@media only screen and (max-width: 768px) {
  .sticky__main {
    padding: 2px 10px;
  }

  .sticky__contacts {
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }

  .sticky__social i {
    padding: 4px;
  }
}
