.navbar__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  gap: 2%;
  padding: 0.2% 6%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}

.navbar__right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.nav_Links {
  display: flex;
  gap: 15px;
  font-size: 20px;
  font-family: 'mulish';
}

.nav_Links a {
  text-decoration: none;
  color: #304f47;
}

.nav_Links a::after {
  content: '';
  position: absolute;
  background-color: #304f47;
  max-width: 90%;
  height: 5px;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s linear;
}

.nav_Links a:hover::after {
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .navbar__main {
    width: 100vw;
  }

  .navbarLogo img {
    width: 50px;
  }

  .nav_Links {
    /* gap: 1%;
    font-size: 16px;
    flex-wrap: wrap; */
    display: none;
  }

  .navbar__right {
    gap: 10px;
  }

  .nav_btn button {
    /* max-width: fit-content;
    font-size: 12px;
    padding: 2px 10px;
    text-align: left;
    max-height: fit-content; */
    display: none;
  }

  /* .navbar__main {
    padding: 0.2% 3%;
    margin: auto;
  } */
}
