.navbar__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  gap: 2%;
  padding: 1% 7%;
  margin: 0px auto;
}

.nav_Links {
  display: flex;
  gap: 40px;
  font-size: 20px;
  font-family: mulish;
  flex: 1;
}

.nav_Links a {
  text-decoration: none;
  color: #304f47;
  padding: 12px 0px;
  position: relative;
}

.nav_Links a::after {
  content: '';
  position: absolute;
  background-color: #304f47;
  width: 90%;
  height: 5px;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s linear;
}

.nav_Links a:hover::after {
  opacity: 1;
}

.navbarButton {
  display: flex;
  justify-content: end;
}
