.hero_main{
    background-image: linear-gradient( transparent, rgba(0,0,0,0.9)), url('../../../assets/images/HeroSection.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 400px;
    padding: 130px 200px;
    color: #fff;
}

.hero_main2 {
  display: flex;
  flex-direction: column;
  gap: 200px;
}

.hero_text {
  text-align: left;
}

.hero_main h1{
    font-family: 'Lora';
    font-size: 62px;
    max-width: 700px;
    margin: 0;
    padding: 0;
    font-family: lora;
}   

.hero_arrows {
    display: flex;
    justify-content: space-between;
}