.carousell__main {
  display: flex;
  margin:  auto;
}

.carousell__sliderimg {
  display: flex;
  max-width: 60%;
  flex-direction: row;
  margin: 0px auto;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.carousell__slider {
  max-width: 300px;
}

@media only screen and (max-width: 768px) {
  .carousell__sliderimg {
    display: flex;
    flex-direction: column;
  }

  .carousell__main {
    max-width: 95%;
  }

  .carousell__slider img {
    max-width: 80%;
    align-items: center;
    margin: auto;
  }
}
